<header class="header b-b bg-white-only">
    <account-nav></account-nav>
    <p>Fund Account</p>
</header>
<section class="scrollable wrapper">
    <div class="row">
        <div class="col-lg-12">
            <loading ng-if="!account"></loading>
            <section class="panel">
                <div ng-if="account">
                    <div class="panel-body">
                        <div class="col-xs-5 b-r">
                            <p class="text-muted">Credits to add</p>
                            <form class="form-inline m-t" name="form" role="form" ng-submit="fund()" novalidate>
                                <div class="form-group">
                                    <input type="number" name="username" class="form-control" ng-model="data.amount" placeholder="Amount" min="1" max="1000000" required autofocus>
                                </div>
                                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Add</button>
                            </form>
                        </div>
                        <div class="col-xs-3 b-r">
                            <p class="h3 font-bold m-t">{{account.balance}}</p>
                            <p class="text-muted">Current Credits</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="h3 font-bold m-t">{{account.balance + data.amount}}</p>
                            <p class="text-muted">After Funding Credits</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>