<header class="header b-b bg-white-only">
    <p>User &ndash; {{user.username}}</p>
</header>
<section class="scrollable wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <loading ng-if="!user"></loading>
                <section class="panel-heading" ng-if="user">
                    <h3>{{user.username}}
                        <small>
                            <small>
                                <span class="label label-success" ng-if="user.isAdmin">Admin</span>
                            </small>
                        </small>
                    </h3>
                </section>
            </section>
            <account-overview account="user.account"></account-overview>
        </div>
    </div>
</section>