<header class="header b-b bg-white-only">
    <h4>Edit {{user.username}}</h4>
</header>
<section class="scrollable wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading font-bold">Edit {{user.username}}</header>
                <div class="panel-body">
                    <user-form submit-text="Save" user="user" submit="save()"></user-form>
                </div>
            </section>
        </div>
    </div>
</section>