<header class="header b-b bg-white-only">
    <p>Dashboard</p>
</header>
<section class="scrollable wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading font-bold">New Accounts</header>
                <section class="panel-body">
                    <div class="col-lg-10 no-padder">
                        <canvas linechart options="options" data="chart" height="75"></canvas>
                    </div>
                </section>
            </section>
        </div>
    </div>
</section>