<aside class="bg-dark aside-sm" id="nav">
    <section class="vbox">
        <brand-header></brand-header>
        <section>
            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                    <li ng-repeat="item in navItems" ng-class="{'active':isActive('/{{item.route}}')}">
                        <a href="#{{item.route}}" title="{{item.title}}" ng-if="!item.subitems">
                            <i class="fa fa-{{item.icon}}" ng-if="item.icon"></i>
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </section>
</aside>